# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/
.zed/

# =========================
# Testing & Type Checking
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build & Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Coverage
# =========================
.coverage
htmlcov/
